/* Home */

/* new features */
.homeHeadCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.homeHead {
  color: blue;
  font-size: 25px;
  font-weight: bold;
  margin: 0px;
  text-align: center;
  text-decoration: underline;
  font-family: Bree Serif;
}

.searchCont {
  border: 1px solid grey;
  border-radius: 5px;
  margin: 0px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchInput {
  border: 0px;
  background-color: transparent;
  cursor: text;
  outline: none;
  padding: 7px;
  font-weight: bolder;
  margin: 0px;
}

.searchBtn {
  background-color: transparent;
  border: 0px;
  padding: 7px;
  cursor: pointer;
  outline: none;
  text-align: center;
  margin: 0px;
}

.searchIcon {
  font-size: 17px;
  height: 17px;
  width: 17px;
  margin: 3px;
  color: red;
}

.deleteIcon {
  font-size: 30px;
  color: red;
  height: 30px;
  width: 30px;
  margin: 0px;
  background-color: transparent;
}

.editIcon {
  font-size: 16px;
  height: 16px;
  width: 16px;
  color: white;
  background-color: transparent;
  margin: 0px;
  margin-left: 5px;
  margin-bottom: 2px;
}

.editBtn {
  color: white;
  background-color: grey;
  border: 0px;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  height: 30px;
  width: 60px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .homeHeadCont {
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
  }

  .searchCont {
    align-self: flex-start;
    margin-top: 15px;
  }
}
/**/
.bgHome {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeHead {
  color: blue;
  font-size: 25px;
  font-weight: bold;
  margin: 0px;
  text-align: center;
  margin-bottom: 15px;
  text-decoration: underline;
  font-family: Bree Serif;
}

.postsUl {
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}

.postLi {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid blue;
  border-radius: 8px;
  padding: 10px;
  margin: 0px;
  margin-bottom: 10px;
  width: 75%;
}

.postLiImg {
  height: 60px;
  width: 60px;
  border-radius: 2px;
  margin: 0px;
}

.postLiTextCont {
  margin-left: 10px;
  margin-right: 10px;
}

.postLiHead {
  color: blue;
  font-size: 15px;
  margin: 0px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.postLiPara {
  color: blue;
  font-size: 12px;
  margin: 0px;
  text-align: left;
}

.deleteBtn {
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: 0px;
  text-align: center;
}

.deleteIcon {
  color: black;
  height: 30px;
  width: 30px;
  margin: 0px;
  background-color: transparent;
}

.failCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}
.linkHeadCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
.textImgCont {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (min-width: 768px) {
  .homeHead {
    font-size: 50px;
    margin-bottom: 40px;
  }

  .postsUl {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    white-space: nowrap;
    width: 100%;
  }

  .postLi {
    width: 20%;
    margin: 10px;
  }

  .postLiImg {
    height: 80px;
    width: 80px;
  }

  .postLiHead {
    font-size: 18px;
    margin-bottom: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .postLiPara {
    font-size: 15px;
  }

  .deleteIcon {
    height: 35px;
    width: 35px;
  }
}
