/* Home */

.bgHome {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeHead {
  color: blue;
  font-size: 25px;
  font-weight: bold;
  margin: 0px;
  text-align: center;
  margin-bottom: 15px;
  text-decoration: underline;
  font-family: Bree Serif;
}

.postsUl {
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}

.postLi {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid lightgrey;
  border-radius: 8px;
  padding: 10px;
  margin: 0px;
  margin-bottom: 10px;
  width: 75%;
}

.postLiImg {
  height: 60px;
  width: 60px;
  border-radius: 5px;
  margin: 0px;
}

.postLiTextCont {
  margin-left: 10px;
  margin-right: 10px;
}

.postLiHead {
  color: blue;
  font-size: 15px;
  margin: 0px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 8px;
}

.postLiPara {
  color: blue;
  font-size: 12px;
  margin: 0px;
  text-align: left;
}

.deleteBtn {
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: 0px;
  text-align: center;
}

.deleteIcon {
  color: black;
  height: 30px;
  width: 30px;
  margin: 0px;
  background-color: transparent;
}

.failCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}
.linkHeadCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
.textImgCont {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (min-width: 768px) {
  .homeHead {
    font-size: 50px;
    margin-bottom: 40px;
  }

  .postsUl {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    white-space: nowrap;
    width: 100%;
  }

  .postLi {
    width: 20%;
    margin: 10px;
  }

  .postLiImg {
    height: 80px;
    width: 80px;
  }

  .postLiHead {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .postLiPara {
    font-size: 15px;
  }

  .deleteIcon {
    height: 35px;
    width: 35px;
  }
}
