.bgHom {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.addBtn {
  color: white;
  background-color: blue;
  font-weight: bolder;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  height: 50px;
  width: 150px;
  font-size: 20px;
  border: 0px;
  border-radius: 8px;
  margin-bottom: 20px;
}
.homHead {
  color: blueviolet;
  text-decoration: underline;
  padding: 20px;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  font-family: Bree serif;
}
.linkBtn {
  color: gainsboro;
  background-color: blueviolet;
  outline: none;
  text-decoration: none;
  font-weight: bolder;
  font-size: 15px;
  height: 45px;
  width: 120px;
  border: 0px;
  border-radius: 8px;
}
.linkHome {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Form Component */

.bgForm {
  min-height: 90vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formHead {
  font-size: 25px;
  font-weight: bold;
  margin: 0px;
  text-align: center;
  color: blueviolet;
  text-decoration: underline;
  font-family: Bree Serif;
  margin-bottom: 30px;
}

.formCont {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  border-radius: 8px;
}

.inputCont {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0px;
  margin-bottom: 10px;
}

.inputLabel {
  color: black;
  font-size: 15px;
  font-weight: bold;
  margin: 0px;
  margin-bottom: 5px;
}

.inputBox {
  background-color: transparent;
  border: 1px solid grey;
  padding: 10px;
  width: 90%;
  cursor: text;
  outline: none;
  border-radius: 3px;
}
.inputBoxError {
  border: 1px solid red;
}

.errorMsg {
  color: red;
  font-size: 15px;
  margin: 0px;
  margin-top: 3px;
}

.formBtn {
  cursor: pointer;
  outline: none;
  background-color: blue;
  color: white;
  font-weight: bold;
  border: 0px;
  border-radius: 5px;
  text-align: center;
  align-self: center;
  height: 35px;
  width: 100px;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .bgForm {
    justify-content: flex-start;
  }

  .formHead {
    font-size: 50px;
    margin-bottom: 40px;
  }

  .formCont {
    width: 370px;
    min-height: 450px;
  }

  .inputLabel {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .inputCont {
    margin-bottom: 17px;
  }

  .formBtn {
    height: 53px;
    width: 130px;
    font-size: 17px;
    border-radius: 8px;
  }
}
